{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!---jQuery and Popper.js-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  
  <!---Bootstrap’s compiled CSS and JS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <link href="{% static 'userprofiles/register.css' %}" rel="stylesheet" type="text/css">


  <script src="{% static 'userprofiles/main.js' %}"></script>

  <style>
  body{
   
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('{% static "userprofiles/picA1.jpg" %}');
  }

  .form_bg{
   width:500px;
   height: 450px;
 }
</style>
</head>
<body>




  <nav class="navbar navbar-custom navbar-fixed-top">
   <div class="container">
     <div class="navbar-header">
       
       <img class="navbar-header img-responsive" src="{% static 'userprofiles/ciie_logo.png' %}" alt="CIIE logo">
       
     </div>
     <ul class="nav navbar-nav navbar-right">
       
       <li><a href="{% url 'index' %}">Home</a></li>
       <li><a href="{% url 'signup' %}">SignUp</a></li>
       
     </ul>      
   </div>
 </nav>



 

 <div class="container">
  <div class="row">
    <div class="form_bg">


     
      <form action="{% url 'login' %}" method="POST">
       {% csrf_token %}
       <h2 class="text-center" style="color:white">Login</h2>
       <br/>
       {% if message %}

       <div>
        <h2 class="text-center" style="color:white">{{message}}</h2>
        
      </div>

      {% endif %}
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username"/>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password"/>
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
        Create an <a href="{% url 'signup' %}">Account</a>
      </div>
      <br/>
      <div class="align-center">
       <input type="submit" name="Login"  value="Signin" style="color:black"/>	
     </div>
   </form>

 </div>
</div>
</div>
</html>
